@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Instrument+Serif:ital@0;1&family=Montenegrin+Gothic+One&display=swap");
@import "tailwindcss";

* {
  cursor: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #bee459;

  --font-heading: "Instrument Serif", serif;
  --font-body: "IBM Plex Mono", monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

::selection {
  background: var(--primary);
  color: #1c1c1c;
}

/* Text selection */

body {
  background: var(--background);
  color: var(--foreground);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #090909;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 999px;
  border: 2px solid #090909;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.1);
}

.hero-text {
  font-family: "Instrument Serif", serif;
}

nav {
  font-family: var(--font-body);
}

.about-t {
  font-family: var(--font-body);
}
